// White

$antiflash-white: 	#F2F3F4;
$antique-white:		#FBEBD9;
$beige:				#F5F5DF;
$blond:				#FBEFC4;
$cornsilk:			#FFF8DF;
$cosmic-latte:		#FFF8E9;
$cream:				#FFFDD5;
$eggshell:			#F0EAD6;
$floral-white:		#FFFAF0;
$ghost-white:		#F8F8FE;
$honeydew:			#EFFFF1;
$isabelline:		#F4F0ED;
$ivory:				#FFFFF2;
$lavender-blush:	#FFF0F5;
$lemon-chiffon:		#FFFACD;
$linen:				#FBF0E7;
$magnolia:			#F8F4FF;
$mint-cream:		#F5FFFA;
$navajo-white:		#FFDDB3;
$old-lace:			#FEF5E8;
$papaya-whip:		#FFEFD8;
$pearl:				#EBE0CB;
$seashell:			#FFF5EE;
$snow:				#FFFAFA;
$splashed-white:	#FEFDFF;
$vanilla:			#F3E5AB;
$white:				#FFF;
$white-smoke:		#F5F5F5;


// Grey

$ash-grey:			#B1BEB6;
$battleship-grey:	#848482;
$black:				#000;
$blue-grey:			#639AC8;
$cadet-grey:		#90A3AF;
$charcoal:			#36454F;
$cool-grey:			#8C92AC;
$davys-grey:		#555;
$paynes-grey:		#526876;
$grey:				#808080;
$gunmetal:			#423732;
$silver:			#C0C0C0;
$slate-grey:		#708090;
$taupe:				#483B33;
$purple-taupe:		#50404D;
$medium-taupe:		#684B48;
$rose-quartz:		#AA98A9;
$taupe-grey:		#8B8589;
$timberwolf:		#DBD7D2;


// Pink

$amaranth-pink:		#F19CBB;
$baker-miller-pink:	#FF90AE;
$brink-pink:		#FB607F;
$carnation-pink:	#FFA6C7;
$cerise:			#DE3163;
$coral-pink:		#F88379;
$deep-carmine:		#EF3038;
$deep-pink:			#FF1493;
$fandango:			#B53389;
$french-rose:		#FB4887;
$fuchsia:			#F0F;
$hollywood-cerise:	#F400A1;
$hot-magenta:		#F0C;
$hot-pink:			#FF69B4;
$lavender-pink:		#FEAED0;
$magenta:			#FF0090;
$mauve:				#E2B1F9;
$mexican-pink:		#E4007C;
$mountbatten-pink:	#997A8D;
$persian-rose:		#FF279D;
$pink:				#FFCBDB;
$puce:				#C89;
$rose:				#FF007F;
$rose-pink:			#F6C;
$salmon-pink:		#FF91A4;
$shocking-pink:		#FC0FC0;
$thulian-pink:		#E26F9E;
$ultra-pink:		#FF6FFF;


// Red

$alizarin-crimson: 	#E32636;
$amaranth:			#EA2750;
$american-rose: 	#FF0040;
$cardinal: 			#C8193B;
$carmine:			#960018;
$chestnut:			#9D160A;
$crimson: 			#E10A3D;
$dark-red:			#8E0006;
$electric-crimson: 	#FF0041;
$fire-brick: 		#B61E26;
$folly: 			#FF004F;
$lava: 				#CF1020;
$lust:				#E62020;
$maroon: 			#800000;
$raspberry:			#E8005B;
$red:				#F00;
$red-violet:		#CC1481;
$redwood:			#AB4E52;
$rosewood:			#67000C;
$rosso-corsa:		#D1000F;
$ruby:				#E0115F;
$rufous:			#AC1711;
$rusty:				#DF2844;
$scarlet:			#FF1B19;
$terra-cotta:		#E6705F;
$tuscan-red:		#7E2F31;
$tyrian-purple:		#66023C;
$vermilion:			#E83F3A;
$wine: 				#722F37;


// Brown

$alburn: 			#A52A2A;
$beaver:			#A08072;
$beige:				#F5F5DF;
$biste:				#3D2B1F;
$bole:				#79443B;
$bronze:			#D07E40;
$brown:				#964B00;
$burgandy: 			#A21A35;
$burnt-sienna:		#E97451;
$burnt-umber: 		#8D3127;
$camel:				#C19A6B;
$chamoisee:			#A0785A;
$chestnut:			#984438;
$chocolate: 		#7D3E11;
$citrine:			#E5CF47;
$coffee: 			#6F4E37;
$copper:			#B87333;
$cordovan:			#893F45;
$coyote:			#826042;
$desert-sand:		#EDC9AF;
$earth-yellow:		#E1A95F;
$ecru:				#C2B280;
$fallow:			#C39971;
$fawn:				#E5AA70;
$field-drab:		#6C541E;
$fulvous:			#E48400;
$khaki:				#F1E598;
$lion:				#C39971;
$liver:				#674C47;
$mahogany:			#C04000;
$orche:				#C72;
$raw-umber:			#926644;
$russet:			#80461B;
$rust:				#BB3F1D;
$sand:				#C3B186;
$sandy-brown:		#F7A36A;
$seal-brown:		#321414;
$sepia:				#704214;
$sienna:			#8B2B1C;
$sinopia:			#CF3E1D;
$tan:				#D3B391;
$tawny:				#CD5700;
$umber:				#635147;
$wenge:				#645452;
$wheat:				#F6DDB8;


// Orange

$apricot:			#FDCDB5;
$atomic-tangerine:	#FF986E;
$bittersweet:		#FF6F5E;
$burnt-orange:		#D0531D;
$carrot-orange:		#ED9121;
$champagne:			#F8E7D1;
$coral:				#FF7F50;
$dark-salmon:		#E9967A;
$deepcarrot-orange: #E9692C;
$eca-sae-amber:		#FF7E00;
$flame:				#E6562F;
$gamboge:			#EF9B0F;
$inter-orange:		#FF4F00;
$orange:			#FF7D2D;
$orange-web:		#FFA338;
$orange-red:		#FF4500;
$orange-peel:		#FFA000;
$peach:				#FFE5B4;
$peach-orange: 		#FC9;
$peach-yellow:		#FADFAD;
$persian-orange: 	#DC8F60;
$persimmon: 		#EC5800;
$portland-orange:	#FF5A36;
$princeton-orange:	#FF8F00;
$pumpkin:			#FF7332;
$safety-orange: 	#FF6426;
$salmon:			#FF8A6F;
$satin-gold:		#CDA049;
$sunset:			#FAD6A5;
$tangelo:			#F94D00;
$tangerine:			#F28500;
$tea-rose:			#F88379;
$tenne:				#CD5700;
$tomato:			#FF6347;


// Yellow

$amber:				#FFBD41;
$arylide:			#E9D66B;
$aureoline:			#FDEE00;
$buff:				#F1DB8E;
$citrine:			#FFFDD5;
$cream:				#FFFDD0;
$dark-goldenrod:	#BA852E;
$gold:				#FFD700;
$gold-metallic:		#D4AF37;
$goldenrod:			#DAA520;
$jasmine:			#F8DE7E;
$jonquil:			#FCC848;
$maize:				#FCEB75;
$mikado-yellow:		#FFC40C;
$mustard:			#FFDA6E;
$napels-yellow: 	#FADA5E;
$old-gold: 			#D0B452;
$saffron:			#F6C351;
$school-bus-yellow:	#FFD649;
$selective-yellow:	#FFBA00;
$stil-de-grain:		#FCD972;
$straw:				#E4D96F;
$sunglow:			#FFCA54;
$yellow:			#FFFD56;
