// White

$antiflash-white: 	#F2F3F4;
$antique-white:		#FBEBD9;
$beige:				#F5F5DF;
$blond:				#FBEFC4;
$cornsilk:			#FFF8DF;
$cosmic-latte:		#FFF8E9;
$cream:				#FFFDD5;
$eggshell:			#F0EAD6;
$floral-white:		#FFFAF0;
$ghost-white:		#F8F8FE;
$honeydew:			#EFFFF1;
$isabelline:		#F4F0ED;
$ivory:				#FFFFF2;
$lavender-blush:	#FFF0F5;
$lemon-chiffon:		#FFFACD;
$linen:				#FBF0E7;
$magnolia:			#F8F4FF;
$mint-cream:		#F5FFFA;
$navajo-white:		#FFDDB3;
$old-lace:			#FEF5E8;
$papaya-whip:		#FFEFD8;
$pearl:				#EBE0CB;
$seashell:			#FFF5EE;
$snow:				#FFFAFA;
$splashed-white:	#FEFDFF;
$vanilla:			#F3E5AB;
$white:				#FFF;
$white-smoke:		#F5F5F5;


// Grey

$ash-grey:			#B1BEB6;
$battleship-grey:	#848482;
$black:				#000;
$blue-grey:			#639AC8;
$cadet-grey:		#90A3AF;
$charcoal:			#36454F;
$cool-grey:			#8C92AC;
$davys-grey:		#555;
$paynes-grey:		#526876;
$grey:				#808080;
$gunmetal:			#423732;
$silver:			#C0C0C0;
$slate-grey:		#708090;
$taupe:				#483B33;
$purple-taupe:		#50404D;
$medium-taupe:		#684B48;
$rose-quartz:		#AA98A9;
$taupe-grey:		#8B8589;
$timberwolf:		#DBD7D2;