// Social media brand colors as of July 2014
//http://designpieces.com/2012/12/social-media-colours-hex-and-rgb/

$facebook-blue:		#3B5998;
$flickr-pink:		#FF0084;
$foresquare-blue:	#0072B1;
$google-plus-red:	#DD4B39;
$instagram-blue:	#517FA4;
$linkedin-blue:		#007BB6;
$pinterest-red:		#CB2027;
$quora-burgandy:	#A82400;
$skype-blue:		#00B1EB;
$snapchat-yellow:	#FFFC00;
$tumblr-turquoise:	#32506D;
$twitter-blue:		#00ACED;
$vimeo-blue:		#AAD450;
$vine-green:		#00BF8F;
$vk-blue:			#45668E;
$yo-purple:			#9B59B6;
$youtube-red:		#B00;
